<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.persistence.mybatis.mapper.IAuthorMapper">
    
    <resultMap id="AuthorResultMap" type="com.domain.Author">
        <id property="id" column="ID"/>
        <result property="account" column="ACCOUNT"/>
        <result property="password" column="PASSWORD"/>
        <result property="authorName" column="AUTHOR_NAME"/>
        <result property="gender" column="GENDER"/>
        <result property="avatar" column="AVATAR"/>
        <result property="age" column="AGE"/>
        <result property="idCard" column="ID_CARD"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="auditStatus" column="AUDIT_STATUS"/>
        <result property="auditReply" column="AUDIT_REPLY"/>
        <result property="createTime" column="CREATE_TIME"/>
    </resultMap>
    
    <!-- 根据账号查询 -->
    <select id="selectByAccount" resultMap="AuthorResultMap">
        SELECT * FROM AUTHOR
        WHERE ACCOUNT = #{account}
    </select>
    
    <!-- 登录验证 -->
    <select id="selectByAccountAndPassword" resultMap="AuthorResultMap">
        SELECT * FROM AUTHOR
        WHERE ACCOUNT = #{account} AND PASSWORD = #{password}
    </select>
    
</mapper>

